<section class="pb-2 pl-3 pr-3 pt-0 pl-lg-5 pr-lg-5 d-flex d-column mt-0" id="about">
    <div class="row">
        <div class="col p-0 pt-3 pb-3">
            <h1 class="mb-3">{{ contact_info.first_name }}
                <span class="text-primary">{{ contact_info.last_name }}</span>
            </h1>
        </div>
        <div class="col-3 p-0 pt-2">
            <div class="mt-1 ml-3 float-right pb-3">
                <div style="font-size: 1.25rem;">
                    <a style="text-decoration: none;" href="mailto:{{ contact_info.email }}">
                        <i class="fas fa-envelope mr-2 mt-1 text-right"></i>
                        <span class="text-right">{{ contact_info.email }}</span>
                    </a>
                </div>
                <div style="font-size: 1.25rem;">
                    <a style="text-decoration: none;" href="tel:{{ contact_info.phone }}">
                        <i class="fa fa-phone mr-2 mt-1 text-right"></i>
                        <span class="text-right">{{ contact_info.phone }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-5 p-0 pt-2">
            <div class="mt-1 ml-3 float-right pb-3">
                {% if contact_info.linkedin %}
                <div style="font-size: 1.25rem;">
                    <a style="text-decoration: none;" href="{{ contact_info.linkedin }}">
                        <i class="fab fa-linkedin mr-2 mt-1 text-right"></i>
                        <span class="text-right">{{ contact_info.linkedin_short }}</span>
                    </a>
                    {% endif %}
                </div>
                {% if contact_info.github %}
                <div style="font-size: 1.25rem;">
                    <a style="text-decoration: none;" href="{{ contact_info.github }}">
                        <i class="fab fa-github mr-2 mt-1" style="font-size: 1rem"></i>
                        <span class="text-right">{{ contact_info.github_short }}</span>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <p class="mb-1" style="text-align: justify; text-justify: inter-word;">
            {{ executive_summary }}
        </p>
    </div>
</section>
